<template>
    <div class="instagram-image">
        <figure class="image is-square">
            <img  :src="post.images.standard_resolution.url" :alt="post.user.username">
        </figure>
    </div>
</template>

<script>
    export default {
        name: "InstagramImage",
        props : {
            post : {
                required    : true,
                type        : Object
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>