<template>
   <div id="instagram-media-viewer" class="has-background-light">
       <div class="post-media">
           <insta-image v-if="post.type === 'image'" :post="post"></insta-image>
           <insta-video v-if="post.type === 'video'" :post="post"></insta-video>
           <insta-carousel v-if="post.type === 'carousel'" :post="post"></insta-carousel>
           <transition name="comments">
               <comments :post="post" v-if="showComments"></comments>
           </transition>
       </div>

       <div class="post-information">
           <div class="media pd-2">
               <figure class="media-left">
                   <p class="image is-64x64">
                       <img class="is-rounded" :src="post.user.profile_picture" :alt="post.user.username">
                   </p>
               </figure>
               <div class="media-content">
                   <nav class="level is-mobile mb-0">
                       <div class="level-left">
                           <div class="level-item has-text-left">
                               <strong class="mr-1">{{ post.user.full_name }}</strong>|<small class="ml-1">@{{ post.user.username }}</small>
                           </div>
                       </div>
                       <div class="level-right">
                           <div class="level-item has-text-right">
                               <small>{{ moment(post.created_time)}}</small>
                           </div>
                       </div>
                   </nav>
                   <div class="content">
                       <p><span v-emoji>{{ post.caption.text }}</span></p>
                   </div>
                   <nav class="level is-mobile">
                       <div class="level-left">
                           <div class="level-item has-text-primary">
                               <span class="icon is-small"><i class="fas fa-heart"></i></span>
                               <span class="px-1">{{ post.likes.count}}</span>
                           </div>
                           <div class="level-item has-text-primary">
                               <span class="icon is-small"><i class="fas fa-comment"></i></span>
                               <span class="px-1">{{ post.post_comments.length}}</span>
                           </div>
                       </div>
                       <div class="level-right">
                           <div class="level-item has-text-light">
                               <a :href="post.link" target="_blank" class="button instagram background is-small">
                                   <i class="fab fa-instagram"></i>
                                   <span class="px-1">Ver en Instagram</span>
                               </a>
                           </div>
                           <div v-if="post.post_comments.length > 0" class="level-item has-text-primary ">
                               <a class="button is-white is-small" @click="showComments = !showComments">
                                   <i class="far fa-comments"></i>
                                   <span class="px-1">Ver Comentarios</span>
                               </a>
                           </div>
                       </div>
                   </nav>
               </div>
           </div>
       </div>
   </div>
</template>

<script>
    import Image    from './InstagramImage';
    import Video    from './InstagramVideo';
    import Carousel from './InstagramCarousel';
    import Comments from './PostComments';

    export default {
        name: "InstagramMediaViewer",
        props : {
            post : {
                required    : true,
                type        : Object,
            }
        },
        data : function(){
            return {
                showComments : false,
            }
        },
        components : {
            'insta-image'   : Image,
            'insta-video'   : Video,
            'insta-carousel': Carousel,
            'comments'      : Comments,
        },
        methods : {
            moment(date){
                // Convert UNIX Timestamp
                let post_date = new Date(date*1000);
                moment.locale('es');
                return moment(post_date,'MMM Do YYYY').fromNow();
            },
        }
    }
</script>

<style lang="scss" scoped>
    #instagram-media-viewer{
        .post-media{
            position: relative;
            line-height: 0.8;
            z-index: 10;
        }
    }

    .comments-enter-active{
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .comments-leave-active{
        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    /* ----------------------------------------------
      * Generated by Animista on 2019-3-27 21:28:42
      * w: http://animista.net, t: @cssanimista
      * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation slide-in-top
     * ----------------------------------------
     */
    @-webkit-keyframes slide-in-top {
        0% {
            -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes slide-in-top {
        0% {
            -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
    }


    /* ----------------------------------------------
     * Generated by Animista on 2019-3-27 21:27:29
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation slide-out-top
     * ----------------------------------------
     */
    @-webkit-keyframes slide-out-top {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
            opacity: 0;
        }
    }
    @keyframes slide-out-top {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
            opacity: 0;
        }
    }

</style>