<template>
   <div id="instagram-video">
       <video autoplay loop :poster="post.images.standard_resolution.url">
           <source :src="post.videos.standard_resolution.url" type="video/mp4">
       </video>
   </div>
</template>

<script>
    export default {
        name: "InstagramVideo",
        props : {
            post : {
                required    : true,
                type        : Object
            }
        },
    }
</script>

<style scoped>

</style>