<template>
    <div id="instagram-carousel" class="is-clipped">
        <transition name="slider" mode="out-in">
            <div v-if="app.current === index" :key="index" v-for="(media,index) in post.carousel_media">
                <div v-if="media.type === 'image'" class="instagram-carousel-image">
                    <figure class="image is-square">
                        <img  :src="media.images.standard_resolution.url" :alt="'carousel-media-' + index">
                    </figure>
                </div>
                <div v-else-if="media.type === 'video'" class="instagram-carousel-video">
                    <video autoplay loop :poster="post.images.standard_resolution.url">
                        <source :src="media.videos.standard_resolution.url" type="video/mp4">
                    </video>
                </div>
            </div>
        </transition>
        <div class="carousel-controls is-flex is-overlay has-text-primary">
            <div class="prev is-flex cta" @click="previous">
                <transition name="control-left">
                    <div class="control" v-show="start">
                        <i  class="fas fa-chevron-circle-left"></i>
                    </div>
                </transition>
            </div>
            <div class="next is-flex cta" @click="next">
               <transition name="control-right">
                   <div class="control" v-if="end">
                       <i  class="fas fa-chevron-circle-right"></i>
                   </div>
               </transition>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "InstagramCarousel",
        props : {
            post : {
                required    : true,
                type        : Object
            }
        },

        data: function () {
            return {
                app :{
                    current : 0,
                },
            }
        },
        computed :{
            start(){
                return (this.app.current > 0);
            },
            end(){
                return (this.app.current < this.post.carousel_media.length -1);
            }
        },
        methods : {
            next(){
                if(this.app.current+1 < this.post.carousel_media.length){
                    this.app.current++;
                }
            },
            previous(){
                if(this.app.current > 0){
                    this.app.current--;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    #instagram-carousel{
        position:relative;
    }
    .carousel-controls {
        div.cta {
            width: 50%;
            transition: opacity 250ms ease-in-out;
            opacity: 0.3;

            &:hover{
                opacity: 0.8;
            }

            .control{
                width: 100%;
                align-self: center;
                font-size: 2.5rem;
                padding: 9px;
            }

            &.next .control{
                text-align: right;
            }
            &.prev .control{
                text-align: left;
            }


        }
    }

    .slider-enter-active  {
        animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }
    .slider-leave-active {
        animation: puff-out-center 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    }

    .control-left-enter-active{
        animation: slide-in-blurred-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }

    .control-left-leave-active{
        animation: fade-out-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }


    .control-right-enter-active{
        animation: slide-in-blurred-right 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }

    .control-right-leave-active{
        animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }


    /* ----------------------------------------------
     * Generated by Animista on 2019-3-24 10:0:32
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation puff-out-center
     * ----------------------------------------
     */
    @keyframes puff-out-center {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(2);
            transform: scale(2);
            -webkit-filter: blur(2px);
            filter: blur(2px);
            opacity: 0;
        }
    }


    /* ----------------------------------------------
     * Generated by Animista on 2019-3-24 10:51:41
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation puff-in-center
     * ----------------------------------------
     */
    @keyframes puff-in-center {
        0% {
            -webkit-transform: scale(2);
            transform: scale(2);
            -webkit-filter: blur(2px);
            filter: blur(2px);
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
        }
    }


    /* ----------------------------------------------
     * Generated by Animista on 2019-3-24 15:39:51
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation slide-in-blurred-left
     * ----------------------------------------
     */
    @keyframes slide-in-blurred-left {
        0% {
            -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }
    }

    /* ----------------------------------------------
     * Generated by Animista on 2019-3-24 15:48:2
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation slide-in-blurred-right
     * ----------------------------------------
     */
    @keyframes slide-in-blurred-right {
        0% {
            -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }
    }


    /* ----------------------------------------------
      * Generated by Animista on 2019-3-24 15:39:22
      * w: http://animista.net, t: @cssanimista
      * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation fade-out-left
     * ----------------------------------------
     */
    @keyframes fade-out-left {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
            opacity: 0;
        }
    }

    /* ----------------------------------------------
     * Generated by Animista on 2019-3-24 15:45:2
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation fade-out-right
     * ----------------------------------------
     */

    @keyframes fade-out-right {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            -webkit-transform: translateX(50px);
            transform: translateX(50px);
            opacity: 0;
        }
    }




</style>