<template>
    <div id="post-comments" class="comments is-overlay pd-2">
        <div class="comments">
            <div class="comment py-1" v-for="comment in comments">
                <article class="media">
                    <figure class="media-left" v-if="post.user.username === comment.user">
                        <p class="image is-32x32">
                            <img class="is-rounded" :src="post.user.profile_picture" :alt="post.user.username">
                        </p>
                    </figure>
                    <figure class="media-left" v-else>
                        <p class="image is-32x32">
                            <img class="is-rounded" :style="{ backgroundColor: comment.color}" src="/img/icons/person.png" :alt="comment.user">
                        </p>

                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <span class="has-text-primary">@{{comment.user}}</span> | <span>{{comment.date}}</span>
                                <br>
                                <span v-emoji>{{comment.text}}</span>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PostComments",
        props : {
            post : {
                required    : true,
                type        : Object
            }
        },
        data: function () {
            return {
                comments : [],
            }
        },
        methods : {
            parseComments(){
                let comments_array = this.post.post_comments;
                let users       = [];
                let user_color  = [];

                this.comments = comments_array.map((object) =>{
                    let index = -1;
                    if(users.includes(object.from.username)){
                        index = users.findIndex( (username) => username === object.from.username);
                    }else{
                        //TODO GUARANTEE A NOT REPEATED COLOR
                        users.push(object.from.username);
                        user_color.push({
                            username : object.from.username,
                            color : this.generateRandomColor(),
                        });
                        index = user_color.length -1;
                    }

                    return {
                        user    : user_color[index].username,
                        text    : object.text,
                        color   : user_color[index].color,
                        date    : this.moment(object.created_time),

                    };
                });

            },
            moment(date){
                // Convert UNIX Timestamp
                let post_date = new Date(date*1000);
                moment.locale('es');
                return moment(post_date,'MMM Do YYYY').fromNow();
            },
            generateRandomColor(){
                return ("#" + Math.random().toString(16).slice(2, 8));
            }
        },
        mounted(){
            this.parseComments();
        }
    }
</script>

<style lang="scss" scoped>
    #post-comments{
        color: #F2F2F2;
        background-color:rgba(0,0,0,0.8);
        overflow: overlay;
        .media-content{
            .content{
                line-height: 1.2;
            }
        }
    }
</style>