.lines:after,.lines:before {
  border-top: 1px solid $color-primary;
  content: "";
  display: table-cell;
  width: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}

.lines {
  margin-top: 0;
  display: table;
  white-space: nowrap;
}

@for $i from 0 through 5 {
  // PADDING
  .pd-#{$i}{
    padding : ((0.25 * $i) * 2) + rem !important;
  }

  .pt-#{$i}{
    padding-top : ((0.25 * $i) * 2) + rem !important;
  }

  .pb-#{$i}{
    padding-bottom :((0.25 * $i) * 2) + rem !important;
  }

  .pl-#{$i}{
    padding-left : ((0.25 * $i) * 2) + rem !important;
  }

  .pr-#{$i}{
    padding-right : ((0.25 * $i) * 2) + rem !important;
  }

  .px-#{$i}{
    padding-right : ((0.25 * $i) * 2) + rem !important;
    padding-left : ((0.25 * $i) * 2) + rem !important;
  }

  .py-#{$i}{
    padding-top : ((0.25 * $i) * 2) + rem !important;
    padding-bottom : ((0.25 * $i) * 2) + rem !important;
  }


  // MARGIN
  .md-#{$i}{
    margin : ((0.25 * $i) * 2) + rem !important;
  }

  .mt-#{$i}{
    margin-top : ((0.25 * $i) * 2) + rem !important;
  }

  .mb-#{$i}{
    margin-bottom :((0.25 * $i) * 2) + rem !important;
  }

  .ml-#{$i}{
    margin-left : ((0.25 * $i) * 2) + rem !important;
  }

  .mr-#{$i}{
    margin-right : ((0.25 * $i) * 2) + rem !important;
  }

  .mx-#{$i}{
    margin-right : ((0.25 * $i) * 2) + rem !important;
    margin-left : ((0.25 * $i) * 2) + rem !important;
  }

  .my-#{$i}{
    margin-top : ((0.25 * $i) * 2) + rem !important;
    margin-bottom : ((0.25 * $i) * 2) + rem !important;
  }
}

.my-auto{
  margin: auto 0;
}

.mx-auto{
  margin: 0 auto;
}