.has-bg-img {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) center center,
  url('https://www.islandsportworks.com/wp-content/uploads/2017/12/go-apr-sirocci.jpg') center center;
  background-size: cover,cover;
};

nav.tabs {
  background: rgba(0,0,0,0.5);
  padding-top: 8px;
  /* padding-bottom: 8px;*/
  border-bottom: 2px $primary solid;
}
nav.navbar {
  background: rgba(0,0,0,0.5) !important;
}