<template>
    <div class="component-image-header carbon" :class="size">
        <div class="image-header"  >
            <transition name="image" mode="out-in">
                <img :key="image" :src="image" alt="">
            </transition>
        </div>
        <div class="content-header">
            <div class="contents has-text-light">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ImageHeader",
        props: {
            image : {
                type: String,
                required : true,
            },
            size : {
                type: String,
                default : '',
            }
        }
    }
</script>

<style lang="scss" scoped>

    .component-image-header{
        position: relative;
        min-height: 65px;
        display: flex;
        overflow: hidden;

        &.sm{
            height: 80px;
        }

        &.md{
            height: 95px;
        }

        &.lg{
            height: 120px;
        }

        .image-header{
            min-height: 65px;
            max-height: 120px;
            width: 100%;
            overflow: hidden;

            img{
                transform: translateY(-50%);
                top: 50%;
                right: 0;
                position: absolute;
            }
        }

        .content-header{
            min-height: 120px;
            position:absolute;
            transform: translateY(-50%);
            top: 50%;
            width: 100%;

            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 32%, rgba(0,0,0,0) 100%);

            display:flex;

            .contents{
                text-transform: uppercase;
                text-shadow :
                        //  3px 3px 0 #000,
                        //           -1px -1px 0 #000,
                        //         1px -1px 0 #000,
                        //       -1px 1px 0 #000,
                        //     1px 1px 0 #000,
                        //   5px 5px 20px #7c7c7c,
                        2px 2px 8px #7c7c7c;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }

        .image-enter-active  {
            animation-name: fadeIn;
            animation-duration: 1s;
            animation-fill-mode: both
        }
        .image-leave-active {
            animation-name: fadeOut;
            animation-duration: 0.5s;
            animation-fill-mode: both
        }


    }
</style>