<template>
    <div v-if="show">
        <div class="modal is-active">
            <transition name="background">
                <div v-if="app.background" class="modal-background"  @click="close"></div>
            </transition>
            <transition name="content">
                <div v-if="app.content" class="modal-content">
                    <slot></slot>
                </div>
            </transition>
            <transition name="close">
                <button v-if="app.content" class="modal-close is-large has-background-primary" aria-label="close" @click="close"></button>
            </transition>
        </div>
    </div>
</template>

<script>
    export default {
        name    : "Modal",
        props   : {
            show : {
                type      : Boolean,
                required  : true,
            }
        },
        data :function (){
            return {
                app : {
                    background: false,
                    content: false,
                    close: false,
                }
            }
        },
        watch: {
          show : function(){
             if(this.show){
                setTimeout(() => {
                    this.app.background = true;
                },10);
                setTimeout(() => {
                    this.app.content = true;
                    this.app.close = true;
                },300);
             }
          }
        },
        methods: {
            close(){
                setTimeout(()=>{
                    this.app.background = false;

                },400);
                this.app.content = false;
                this.app.close = false;
                setTimeout(()=> {
                  this.$emit('close');
                },1000);

            }
        },
        mounted() {
         //   this.app.show = this.show;
        },
    }
</script>

<style lang="scss" scoped>

    .modal{
        .modal-background{
        }

        .modal-close {
            background: none;
            height: 40px;
            position: fixed;
            width: 40px;
            max-height: 40px;
            max-width: 40px;
        }
    }
    .background-enter-active{
        animation-duration: 500ms;
        animation-name: fadeIn;
    }

    .background-leave-active{
        animation-duration: 1s;
        animation-name: fadeOut;
    }
    .content-enter-active{
        animation-duration: 500ms;
        animation-name: scale-in-center;
    }

    .content-leave-active{
        animation-duration: 500ms;
        animation-name: puff-out-center;
    }

    .close-enter-active{
        animation-duration: 1s;
        animation-name: bounce-in-top;
    }

    .close-leave-active{
        animation-duration: 1s;
        animation-name:  slide-out-right;
    }
</style>