<template>
    <transition-group
            name="vehicle"
            tag="div"
            v-bind:css="false"
            v-on:appear="appear">
        <div  :key="vehicle.id" v-for="(vehicle, index) in filteredData" class="vehicle mb-3 vehicles-before-enter">
            <p class="vehicle-title py-1">
                <strong class="has-text-primary">{{ vehicle.year}}</strong> | <strong>{{ vehicle.name}}</strong> <small>by</small> <small>{{brandInfo.name}}</small>
            </p>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img :src="vehicle.data.image">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                         <div class="info">
                             <table class="table is-striped is-narrow">
                                 <tbody>
                                 <tr v-for="(info, key) in vehicle.info">
                                     <th class="is-capitalized">{{ key }}</th>
                                     <td><small>{{ info }}</small></td>
                                 </tr>

                                 </tbody>
                             </table>
                         </div>
                    </div>
                    <nav @click="toggleVehiclePartsCatalog(index)" class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item has-text-centered">
                                <div>
                                    <p class="heading has-text-primary">  <span class="icon is-small"><i class="fas fa-cogs"></i></span> Partes</p>
                                    <p class="title">{{ count(vehicle.parts, 'Part')}}</p>
                                </div>

                            </a>
                            <a class="level-item has-text-centered">
                                <div>
                                    <p class="heading has-text-primary">  <span class="icon is-small"><i class="fas fa-star"></i></span> Accesorios</p>
                                    <p class="title">{{ count(vehicle.parts, 'Accessory')}}</p>
                                </div>
                            </a>
                            <a class="level-item has-text-centered">
                                <div>
                                    <p class="heading has-text-primary">  <span class="icon is-small"><i class="fas fa-hammer"></i></span> Herramientas</p>
                                    <p class="title">{{ count(vehicle.parts, 'Tool')}}</p>
                                </div>
                            </a>
                        </div>
                    </nav>
                    <div class="parts" v-if="app.sel_vehicle.includes(index)">
<!--                        TODO: CREATE COMPONENT FOR PARTS-->
                        <transition-group
                                name="vehicle-part"
                                class="vp"
                                tag="div"
                                v-bind:css="false"
                                v-on:appear="appear" appear>
                            <article :key="part.id" class="media vehicles-before-enter"  v-for="(part, key) in vehicle.parts">
                                <figure class="media-left">
                                    <p class="image is-128x128">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong class="is-capitalized has-text-primary	">{{ part.name}}</strong> <small>by</small> <small>{{ part.brand.name}}</small>
                                        </p>

                                        <p v-for="(info, key) in part.info">
                                            <strong class="is-capitalized">{{ key }}</strong> <small>{{ info }}</small>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <button class="button is-primary is-rounded" @click="addToCart(part)">
                                        <span class="pr-1"><i class="fas fa-search-dollar"></i></span>
                                        <span>Cotizar</span>
                                    </button>
                                </div>
                            </article>
                        </transition-group>

                    </div>
                </div>
            </article>
        </div>
    </transition-group>
</template>

<script>
    export default {
        name: "Vehicles",
        props: {
            brandInfo : {
                type      : Object,
                required  : true,
            },
            filter : {
                type      : String,
                required  : true,
            }
        },
        data: function() {
            return {
                app :{
                    stagger     : 0,
                    sel_vehicle : [],
                    vehicles    : this.brandInfo.vehicles,
                },
            }
        },
        methods: {
            addToCart(item){
                this.$bus.$emit('addToCart', item);
            },
            count(data,search){
                let count = 0;
                Object.keys(data).forEach( key => {
                    if(data[key].type === search){
                        count++;
                    }
                });
                return count;
            },
            toggleVehiclePartsCatalog(vehicle){
                if(this.app.sel_vehicle.includes(vehicle)){
                    this.app.sel_vehicle = this.app.sel_vehicle.filter(function(element){
                        return element != vehicle;
                    });
                }else{
                    this.app.stagger = 0;
                    this.app.sel_vehicle.push(vehicle);
                }
            },
            //TRANSITION
            appear: function (el, done) {
                let delay = 500 + (this.app.stagger * 150);
                this.app.stagger++;

                setTimeout(function () {
                    el.classList.remove('vehicles-before-enter');
                    el.classList.add('vehicles-enter');
                    done()
                }, delay)
            },
        },
        computed : {
            filteredData(){
                this.app.stagger = 0;
                this.app.sel_vehicle = [];
                return this.app.vehicles.filter( (result) => JSON.stringify(result).toLowerCase().indexOf(this.filter.toLocaleLowerCase()) !== -1);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .vehicle-enter-active{
        animation-duration: 0.5s;
        animation-name: fade-in;
    }

    .vehicle-leave-active{
        animation-duration: 0.5s;
        animation-name: fade-in;
        animation-direction: reverse;
    }

    .vehicles-before-enter {
        opacity:0;
    }
    .vehicles-enter {
        opacity:1;
        animation-duration: 0.75s;
        animation-name: slide-in-blurred-left;
    }


    .info{
        width: 50%;
    }

    .parts .media {
        .media-left ,
        .media-content,
        .media-right{
            align-self: center;
        }
    }
</style>