.view-container{
  background: $color-tertiary;
  border-radius: 5px;
  box-shadow: 15px 15px 30px 3px rgb(0, 0, 0);
  border: 1px black solid;
  min-height: 800px;
  overflow: hidden;
  //transition: max-height 500ms ease;
}