<template>
   <instagram></instagram>

</template>

<script>
    import Instagram from '../components/instagram/InstagramFeed';

    export default {
        name: "ProductsView",
        components : {
            'instagram'  : Instagram,
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>