<template>
    <div id="products-view" class="page-view">
        <catalogs></catalogs>
    </div>
</template>

<script>
    import Catalogs from '../components/catalog/Catalogs';
    export default {
        name: "ProductsView",
        components: {
            'catalogs' : Catalogs,
        },
        mounted() {
        }
    }
</script>