$color-primary : #c30000;
$color-secondary : #7c7c7c;
$color-tertiary : #f2f2f2;
$color-quaternary : #151515;

$color-instagram : #C13584;

//
$body-background-color : $color-quaternary;
$light : $color-tertiary;
$primary : $color-primary;
$tabs-boxed-link-active-background-color : $primary;
$panel-block-active-icon-color : $primary;
$tabs-boxed-link-radius :0px;
$card-header-color: $primary;
$dimensions: 16 24 32 48 64 96 128 256 512 !default;


