<template>
   <div id="cart">
       <transition name="slide">
           <div class="cart has-background-light" v-if="cart.ids.length > 0 && !modals.quote">
           <!--<div class="cart has-background-light">-->
               <nav class="panel" >
                   <p class="panel-heading has-text-centered has-background-primary has-text-light is-size-4 has-text-weight-bold">
                       Artículos
                   </p>
                   <div class="panel-block">
                       <p class="control has-icons-left">
                           <input class="input is-small" type="text" placeholder="Buscar">
                           <span class="icon is-small is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                       </p>
                   </div>
                   <!--<p class="panel-tabs is-invisible">-->
                   <!--<a class="is-active">all</a>-->
                   <!--<a>public</a>-->
                   <!--<a>private</a>-->
                   <!--<a>sources</a>-->
                   <!--<a>forks</a>-->
                   <!--</p>-->
                   <transition-group name="cart-item" tag="div" class="cart-items">
                       <div :key="item.id" class="panel-block is-active" v-for="(item, index) in cart.items">
                           <div class="columns">
                               <div class="column is-11">
                                   <span class="panel-icon"><i class="fas fa-truck-monster"></i></span>
                                   <span class="is-capitalized">{{ item.name}}</span>
                               </div>
                               <div class="column"> <button class="delete" @click="removeItem(index)"></button></div>
                           </div>
                       </div>
                   </transition-group>
                   <div class="panel-block">
                       <a class="mx-1 button is-dark is-fullwidth" @click="emptyCart">
                        <span class="mr-1"><i class="fas fa-trash-alt"></i></span>
                        <span>Vaciar</span>
                       </a>
                       <a class="mx-1 button is-primary is-fullwidth" @click="modals.quote = true">
                           <span class="mr-1"><i class="far fa-handshake"></i></span>
                           <span>Cotizar</span>
                       </a>
                   </div>
                   <!--<div class="panel-block">-->
                       <!--<div class="field is-grouped is-grouped-centered">-->
                           <!--<p class="control">-->
                               <!--<a class="button is-primary">-->
                                <!--<span class="mr-1"><i class="far fa-handshake"></i></span>-->
                                <!--<span>Cotizar</span>-->
                               <!--</a>-->
                           <!--</p>-->
                           <!--<p class="control">-->
                               <!--<a class="button  is-dark">-->
                                <!--<span class="mr-1"><i class="fas fa-trash-alt"></i></span>-->
                                <!--<span>Vaciar</span>-->
                               <!--</a>-->
                           <!--</p>-->
                       <!--</div>-->
                   <!--</div>-->
               </nav>
           </div>
       </transition>

       <!--MODAL-->
       <modal :show="modals.quote" @close="modals.quote=false" ref="modal">
           <div class="modal-card">
               <header class="modal-card-head has-text-centered has-background-primary  is-size-4 has-text-weight-bold">
                   <p class="modal-card-title has-text-light">Cotiza</p>
                   <button class="delete" aria-label="close" @click="closeModal"></button>
               </header>
               <section class="modal-card-body">
                   <div id="quote-form">
                       <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input v-model="form.name" class="input" type="text" placeholder="Nombre Completo">
                            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                            <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
                        </p>
                       </div>
                       <div class="field">
                           <p class="control has-icons-left has-icons-right">
                               <input v-model="form.email" class="input" type="text" placeholder="Email">
                               <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                               <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
                           </p>
                       </div>
                       <div class="field">
                           <label class="label">Artículos a cotizar:</label>
                       </div>
                       <transition-group name="quote-item" tag="div" class="field is-grouped is-grouped-multiline ">
                           <p :key="item.id" class="control" v-for="(item, index) in cart.items">
                               <button class="button" @click="removeItem(index)">
                                   <span class="panel-icon"><i class="fas fa-truck-monster"></i></span>
                                   <span class="is-capitalized">{{ item.name}}</span>
                               </button>
                           </p>
                       </transition-group>
                       <div class="field">
                           <div class="control">
                               <textarea v-model="form.comments" class="textarea has-fixed-size" rows="5" placeholder="Pregunta todas tus dudas..."></textarea>
                           </div>
                       </div>

                   </div>
               </section>
               <footer class="modal-card-foot" >
                   <button class="button is-primary" @click="quote">Cotizar</button>
                   <button class="button" @click="closeModal">Cancel</button>
               </footer>
           </div>
       </modal>


   </div>
</template>

<script>
    import Modal        from '../../../elements/Modal';

    export default {
        name : "Cart",
        data : function () {
            return {
                modals : {
                  quote : false,
                },
                cart : {
                    ids     : [],
                    items   : [],
                },
                form : {
                    name    : "",
                    email   : "",
                    items   : [],
                    comments   : "",
                }
            };
        },
        components : {
          'modal'   : Modal,
        },
        methods : {
            add(item){
                if(!this.cart.ids.includes(item.id)){
                    this.cart.ids.unshift(item.id);
                    this.cart.items.unshift(item);
                }
            },
            emptyCart(){
                for(let i = this.cart.items.length-1 ; i >= 0 ; i --){
                    setTimeout(() => {
                        this.cart.items.pop();
                    },150*i);

                }
                let items = this.cart.ids.length;
                setTimeout(() => {
                    this.cart.ids = [];
                },items*400);
            },
            removeItem(index){
                this.cart.ids.splice(index,1);
                this.cart.items.splice(index,1);

                if(this.modals.quote && this.cart.items.length === 0){
                    this.closeModal();
                }
            },
            closeModal(){
                this.$refs.modal.close();
            },

            quote(){
                axios.post('/quote', this.form).then( response => {
                    console.log(response);
                });
            }
        },
        computed:{
            sortedTable(){
                let filteredData = this.table.data.filter( (result) => JSON.stringify(result).toLowerCase().indexOf(this.table.search.toLocaleLowerCase()) !== -1);

                return filteredData.sort((a,b) => {
                    let modifier = 1;
                    if(this.table.sort.dir === 'desc') modifier = -1;
                    if(a[this.table.sort.current] < b[this.table.sort.current]) return -1 * modifier;
                    if(a[this.table.sort.current] > b[this.table.sort.current]) return 1 * modifier;
                    return 0;
                }).filter((row,index) => {
                    let start = (this.table.pagination.current-1)*this.table.pagination.size;
                    let end = this.table.pagination.current*this.table.pagination.size;
                    if(index >= start && index < end) return true;
                });
            }
        },
        mounted() {
            this.form.items = this.cart.items;
            this.$bus.$on('addToCart', item => {
                this.add(item);
            })
        }
    }
</script>

<style lang="scss" scoped>
    footer.modal-card-foot{
        justify-content: flex-end;
    }

    .cart {
        overflow: hidden;
        position: fixed;
        right: 1%;
        top: 10%;
        width: 15%;

        .cart-items {
            max-height: 240px;
            overflow-x: hidden;
            overflow-y: scroll;

            .panel-block {
                position: relative;

                &.is-active {
                    border: 0 white solid;
                }

                .columns {
                    width: 100%;
                }
            }
        }
    }

    .cart-item-enter-active{
        animation-duration: 0.75s;
        animation-name: swing-in-right-fwd;
    }

    .cart-item-leave-active{
        animation-duration: 0.75s;
        animation-name: swing-in-right-fwd;
        animation-direction: reverse;
    }

    .quote-item-enter-active{
        animation-duration: 0.75s;
        animation-name: swing-in-right-fwd;
    }

    .quote-item-leave-active{
        animation-duration: 0.75s;
        animation-name: swirl-out-bck;
    }

    .slide-enter-active  {
        animation-name: bounceInRight;
        animation-duration: 1s;
        animation-fill-mode: both
    }
    .slide-leave-active {
        animation-name: bounceInRight;
        animation-direction: reverse;
        animation-duration: 0.5s;
        animation-fill-mode: both
    }

</style>