<template>
    <div id="vehicle-catalog">
        <!--HEADER-->
        <div class="header">
            <image-header
                    :size="'md'"
                    :image="app.header.image">
                <transition tag="div" mode="out-in" name="title">
                    <div :key="app.header.title" class="is-size-2 pl-2">{{ app.header.title }}</div>
                </transition>
            </image-header>
        </div>
        <!--CATALOG-->
        <transition name="slide" mode="out-in" >
            <div v-if="app.show === 'catalog'" key="catalog" class="catalog">
                <div class="by-vehicle">
                    <div class="body pd-2" >
                        <transition-group
                                name="brands"
                                class="columns brands is-multiline"
                                tag="div"
                                v-bind:css="false"
                                v-on:before-enter="beforeEnter"
                                v-on:enter="enter"
                                appear
                                v-on:appear="appear">
                            <div :key="brand.id" class="brand column is-one-quarter" v-for="(brand, index) in catalog">
                                <div class="card" :class="{ 'selected-brand' : app.brand_id === brand.id }"  @click="selectBrand(brand)">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            {{ brand.name }}
                                        </p>
                                    </header>
                                    <div class="card-image">
                                        <figure class="image is-1by1" >
                                            <img :src="brand.data.image" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="content">
                                            {{ brand.description}}
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <div class="card-footer-item">Vehículos : {{ brand.vehicles.length}}</div>
                                    </footer>
                                </div>
                            </div>
                        </transition-group>
                    </div>
                </div>
            </div>
            <div v-if="app.show === 'brand-vehicles'" key="brand-vehicles" class="brand-vehicles">
                <div class="vehicles pd-2">
                    <nav class="level">
                        <!-- Left side -->
                        <div class="level-left">
                            <div class="level-item">
                                <div class="field has-addons">
                                    <p class="control">
                                        <input class="input" type="text" placeholder="Encuentra tu Vehículo" v-model="app.search">
                                    </p>
                                    <p class="control">
                                        <button class="button">
                                            Filtrar
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Right side -->
                        <div class="level-right">
                            <p class="level-item">
                                <a @click="resetCatalog" class="button is-rounded is-primary is-medium">
                                    <i class="fas fa-undo-alt"></i>
                                </a>
                            </p>
                        </div>
                    </nav>
                    <!-- VEHICLES LIST -->
                    <vehicles :brand-info="this.app.current_brand" :filter="app.search"></vehicles>
                </div>
            </div>
        </transition>
        <!-- CART -->
        <cart></cart>
    </div>
</template>

<script>
    // ELEMENTS
    import ImageHeader from '../../../elements/ImageHeader';

    // COMPONENTS

    import Vehicles     from './vehicle-catalog/Vehicles';
    import Cart         from './Cart';

    export default {
        name: "VehicleCatalog",
        data: function() {
            return {
                app :{
                    stagger:0,
                    header : {
                        image : 'https://www.islandsportworks.com/wp-content/uploads/2017/12/go-apr-sirocci.jpg',
                        title : 'Búsqueda por Marca',
                    },
                    previous_header : {},
                    show            : 'catalog',
                    search          : '',
                    current_brand   : null,
                    brand_id        :  -1,
                    sel_vehicle     : [],
                    modals          : {
                        quote : false,
                    },
                },
                catalog     : {},

            }
        },
        components : {
            'image-header'  : ImageHeader,
            'vehicles'      : Vehicles,
            'cart'          : Cart,
        },
        methods: {
            getVehicleBrands(){
                axios.get('/catalog/get-vehicle-brands').then( response => {
                   this.catalog = response.data;
                });
            },
            selectBrand(brand){
                // Change Header
                this.app.previous_header.image = this.app.header.image;
                this.app.previous_header.title = this.app.header.title;

                //
                this.app.current_brand = brand;
                this.app.brand_id = brand.id;
                this.app.stagger = 0;

                this.app.header.image = brand.data.image;
                this.app.header.title = brand.name;
               let self = this;
               setTimeout(function(){
                   self.app.show = 'brand-vehicles';
               }, 200);
            },


            //LAYOUT
            resetCatalog(){
                this.app.show = 'catalog';
                this.app.stagger = 0;
                this.app.brand_id = -1;
                this.app.header = this.app.previous_header;
                this.app.previous_header = {};
            },

            //TODO IN MIXINS
            beforeEnter: function (el) {
                el.style.opacity = 0;
            },
            enter: function (el, done) {
                let delay = 500 + (this.app.stagger * 150);
                this.app.stagger++;
                setTimeout(function () {
                    el.style.opacity = 1;
                    el.classList.add('brands-enter');
                    done()
                }, delay)
            },
            appear(el, done){
                console.log(' B APPEAR');
                this.enter(el,done);
                done()
            },

        },
        mounted() {
            this.getVehicleBrands();
        },
    }

</script>

<style lang="scss" scoped>
    .column{
        display: flex;
        .content {
            min-height: 120px;
        }
    }




    /*ANIMATIONS*/
    .selected-brand {
        z-index: 140;
        -webkit-animation:  pulsate-fwd 0.5s ease-in-out 1 both;
        animation:  pulsate-fwd 0.5s ease-in-out 1 both;
    }

    .slide-enter-active  {
        animation-name: bounceInRight;
        animation-duration: 1s;
        animation-fill-mode: both
    }
    .slide-leave-active {
        animation-name: fadeOut;
        animation-duration: 0.5s;
        animation-fill-mode: both
    }

    .brands-enter {
        animation-duration: 0.75s;
        animation-name: slide-in-elliptic-top-fwd;
    }

    .title-enter-active  {
        animation-name: focus-in-contract-bck;
        animation-duration: 1s;
        animation-fill-mode: both
    }

    .title-leave-active {
        animation-name: blur-out-expand-fwd;
        animation-duration: 0.5s;
        animation-fill-mode: both
    }


</style>