<template>
    <div class="component-container">
        <vehicle-catalog></vehicle-catalog>
    </div>
</template>

<script>
    import VehicleCatalog from './catalogs/VehicleCatalog';
    export default {
        name: "Catalog",
        components : {
          'vehicle-catalog' : VehicleCatalog,
        },
        data: function () {
            return {
                app :{
                    show : 'catalog',
                },
            }
        },
        methods: {}
    }
</script>

<style lang="scss" scoped>



</style>