<template>
    <div id="instagram-feed" >
        <div class="header">
            <image-header
                    :size="'md'"
                    :image="header.image">
                <div :key="header.title" class="is-size-2 pl-2">{{ header.title }}</div>
            </image-header>
        </div>
        <div class="posts pd-2">
            <div class="columns is-multiline">
                <div class="column is-one-fifth" v-for="(post,index) in posts">
                    <div class="instagram-post is-clipped" style="position:relative" @click="setPost(index)">
                        <div class="post-image">
                            <figure class="image is-square">
                                <img  :src="post.images.low_resolution.url" :alt="post.user.username">
                            </figure>
                        </div>
                        <div class="post-content is-overlay is-flex">
                            <div class="px-2 py-1" style="align-self: flex-end">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-24x24">
                                            <img class="is-rounded" :src="post.user.profile_picture" :alt="post.user.username">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="is-size-7 has-text-light">@{{ post.user.username }}</p>
                                        <nav class="level is-mobile">
                                            <div class="level-left ">
                                                <div class="level-item has-text-light">
                                                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                                    <span class="px-1">{{ post.likes.count}}</span>
                                                </div>
                                                <div class="level-item has-text-light">
                                                    <span class="icon is-small"><i class="fas fa-comment"></i></span>
                                                    <span class="px-1">{{ post.post_comments.length}}</span>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modal :show="currentPost.index >= 0" @close="closeModal">
            <media :post="currentPost.post"></media>
        </modal>
    </div>
</template>

<script>
    //COMPONENTS
    import MediaViewer  from './components/InstagramMediaViewer';

    //ELEMENTS
    import Modal        from '../../elements/Modal';
    import ImageHeader from '../../elements/ImageHeader';
    export default {
        name: "InstagramFeed",
        components : {
            'modal'         : Modal,
            'media'         : MediaViewer,
            'image-header'  : ImageHeader
        },
        data: function () {
            return {
                header : {
                    image : 'https://www.islandsportworks.com/wp-content/uploads/2017/12/go-apr-sirocci.jpg',
                    title : 'Siguenos en Instagram',
                },
                currentPost : {
                    index : -1,
                    post  : []
                },
                posts       : [],
            }
        },
        methods: {
            get(){
                axios.get('/social/instagram').then( response => {
                    this.posts = response.data;
                });
            },
            moment(date){
              return moment.unix(date).format('MMM Do YYYY');
            },
            setPost(index){
                this.currentPost.index = index;
                this.currentPost.post = this.posts[index];
            },
            closeModal(){
                this.currentPost.index = -1;
                this.currentPost.post  = {};
            }
        },
        mounted() {
            this.get();
        },
    }
</script>

<style lang="scss" scoped>
    #instagram-feed{
        .instagram-post{
            &:hover{
                .post-content{
                   opacity:0;
                }
                figure.image{
                   transform: scale(1.05);
                }
            }

            .post-content{
                color:white;
                background: rgba(0,0,0,0.5);
                transition: opacity 350ms ease-in-out;
            }

            figure.image{
                transition: transform 500ms 150ms ease-in-out;
            }
        }

        .card {
            height: 100%;
            display:flex;
            flex-direction: column;
            .card-content{
                .media{
                    align-items: center;
                }
            }

            .card-footer {
                margin-top: auto;
            }
        }
    }
</style>